.spin-btn {
	@apply z-30 font-nav-bar bg-[#73242E] text-[#FFFF00] font-bold text-[4em] px-14 h-[100px] pt-2 mb-8 rounded-lg whitespace-nowrap transition-all hover:scale-105 hover:bg-red-500 max-laptop:scale-75 max-laptop:mt-[-5rem];
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

:root {
	/*background-size:  ;*/
	--icon_width: 80px;
	--icon_height: 80px;
	--progress: 60;
}

.reel {
	@apply relative mt-4 w-[8rem] h-[16rem] overflow-hidden bg-repeat-y bg-center scale-90 z-20;
	/* TODO change to non global path or make env*/
	background-image: url("../../../../public/images/kaz/reel.png");
}

#slots-bg{
	@apply absolute z-10 mt-[285px] h-[170px] w-[450px] bg-[#711517];
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px inset;
}

