.spin-btn {
	@apply z-50 font-nav-bar bg-[#73242E] text-[#FFFF00] font-bold text-[4em] px-14 h-[100px] pt-2 mb-8 rounded-lg whitespace-nowrap transition-all hover:scale-105 hover:bg-red-500;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	/* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
}

:root {
	/*background-size:  ;*/
	--icon_width: 80px;
	--icon_height: 80px;
}

.reel {
	@apply relative w-[7rem] h-[16rem] overflow-hidden;
	background-image: url("images/kaz/reel.png");
	/* width: var(--icon_fidth); */
	/* height: 3 * var(--icon_height); */
	/*background-position: 0 0;*/
	background-repeat: repeat-y;
	background-position: center;
}
