@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.spin-btn {
	@apply z-30 font-nav-bar bg-[#73242E] text-[#FFFF00] font-bold text-[4em] px-14 h-[100px] pt-2 mb-8 rounded-lg whitespace-nowrap transition-all hover:scale-105 hover:bg-red-500 max-laptop:scale-75 max-laptop:mt-[-5rem];
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

:root {
	/*background-size:  ;*/
	--icon_width: 80px;
	--icon_height: 80px;
	--progress: 60;
}

.reel {
	@apply relative mt-4 w-[8rem] h-[16rem] overflow-hidden bg-repeat-y bg-center scale-90 z-20;
	background-image: url("images/kaz/reel.png");
}

#slots-bg{
	@apply absolute z-10 mt-[285px] h-[170px] w-[450px] bg-[#711517];
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px inset;
}

.range {
	@apply relative bg-neutral-600 w-[300px] h-[30px];
	transform: skew(30deg);
	font-family: 'Orbitron', monospace;
}
.range:before {
	@apply z-0 absolute top-0 left-0 w-0 h-full bg-[#f3e600];
	--width: calc(var(--progress) * 1%);
	content: '';
	animation: load 0.5s forwards linear, glitch 2.5s infinite linear;
}
.range:after {
	@apply absolute text-black left-[5%] top-[50%] z-[1];
	counter-reset: progress var(--progress);
	content: counter(progress) '%';
	transform: translateY(-50%) skewX(-30deg);
}
.range__label {
	@apply text-white ;
	transform: skew(-30deg) translateY(-100%);
	line-height: 1.5;
}
@keyframes load {
	to {
		width: var(--width);
	}
}
@keyframes glitch {
	0%, 5% {
		transform: translate(0, 0);
	}
	1% {
		transform: translate(-5%, -10%);
	}
	2% {
		transform: translate(10%, 30%);
	}
	3% {
		transform: translate(-43%, 10%);
	}
	4% {
		transform: translate(2%, -23%);
	}
}
