.customization-menu-btn {
    @apply whitespace-nowrap rounded-xl bg-[#73242E] px-3 font-mono text-[2.2em] font-bold text-white hover:scale-105 hover:bg-red-700;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.15s;
}

.save-car-form-btn {
    @apply bg-red-800 text-[#FFFF00] text-2xl pb-1 pt-2 rounded font-nav-bar font-bold w-[12rem];
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@keyframes scaleUp {
    0% {
        @apply w-1/2;
    }
    100% {
        @apply h-fit w-full;
    }
}

.animate-scale-up {
    animation: scaleUp 400ms forwards;
}

@keyframes scaleDownLeft {
    0% {
        @apply h-[20em] w-1/2;
    }
    100% {
        @apply w-1/4;
    }
}

.animate-scale-down-left {
    animation: scaleDownLeft 400ms forwards;
}

@keyframes scaleDownRight {
    0% {
        @apply h-[20em] w-1/2 ml-[-25%];
    }
    60% {
        @apply ml-0
    }
    100% {
        @apply w-1/4;
    }
}

.animate-scale-down-right {
    animation: scaleDownRight 400ms forwards;
}
