@import 'components/WelcomePage/NavBar/NavBar.css';
@import 'components/Kaz/Kaz.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'NavBarFont';
	src: url('fonts/nav-bar-font.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
