@import 'components/WelcomePage/NavBar/NavBar.css';
@import 'components/WelcomePage/Footer/Footer.css';
@import 'components/Roadmap/Roadmap.css';
@import 'components/Kaz/Kaz.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'NavBarFont';
	src: url('fonts/nav-bar-font.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

 /*switch website pages transitions*/
.fade-enter {
	opacity: 0;
	transform: scale(0.9);
}
.fade-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 300ms, transform 300ms;
}

/*.swipe-enter {*/
/*	 opacity: 0;*/
/*	 transform: translateY(100%);*/
/* }*/
/*.swipe-enter-active {*/
/*	opacity: 1;*/
/*	transform: translateY(0%);*/
/*}*/
/*.swipe-exit {*/
/*	opacity: 1;*/
/*	transform: translateY(0%);*/
/*}*/
/*.swipe-exit-active {*/
/*	opacity: 0;*/
/*	transform: translateY(100%);*/
/*}*/
/*.swipe-enter-active,*/
/*.swipe-exit-active {*/
/*	transition: opacity 300ms, transform 300ms;*/
/*}*/


.swipe-enter {
	opacity: 0;
	transform: translateY(10%);
}
.swipe-enter-active {
	opacity: 1;
	transform: translateY(0%);
}
.swipe-exit {
	opacity: 1;
	transform: translateY(0%);
}
.swipe-exit-active {
	opacity: 0;
	transform: translateY(10%);
}
.swipe-enter-active,
.swipe-exit-active {
	transition: opacity 300ms, transform 300ms;
}

/*.swipe-enter {*/
/*	 opacity: 0;*/
/* }*/
/*.swipe-enter-active {*/
/*	opacity: 1;*/
/*}*/
/*.swipe-exit {*/
/*	opacity: 1;*/
/*}*/
/*.swipe-exit-active {*/
/*	opacity: 0;*/
/*}*/
/*.swipe-enter-active,*/
/*.swipe-exit-active {*/
/*	transition: opacity 300ms, transform 300ms;*/
/*}*/
