@import 'src/components/NavBar/NavBar.css';
@import 'src/components/Footer/Footer.css';
@import 'src/components/ProgressBar/ProgressBar.css';
@import 'src/components/Roadmap/Roadmap.css';
@import 'src/components/Main/Kaz/Kaz.css';
@import 'src/components/Main/CarCustomization/CarCustomization.css';
@import 'src/components/Tokenomica/Tokenomica.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NavBarFont';
    src: url('public/fonts/nav-bar-font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

/*switch website pages transitions*/
.fade-enter {
    opacity: 0;
    transform: scale(0.9);
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms,
    transform 300ms;
}

.swipe-enter {
    opacity: 0;
    transform: translateY(10%);
}

.swipe-enter-active {
    opacity: 1;
    transform: translateY(0%);
}

.swipe-exit {
    opacity: 1;
    transform: translateY(0%);
}

.swipe-exit-active {
    opacity: 0;
    transform: translateY(10%);
}

.swipe-enter-active,
.swipe-exit-active {
    transition: opacity 300ms,
    transform 300ms;
}
